:root {
  --color-black: rgb(56, 61, 70);
  --color-white: rgb(255, 255, 255);
  --color-red: rgb(252, 66, 90);
  --color-dark-gray: rgb(93,93,93);
  --color-smooth-gray: rgb(229,229,229);
  --color-gray: rgb(157, 157, 157);
  --color-light-gray: rgb(248, 249, 250);
  --color-none: transparent;
}